/**
*inherited
*/

//Use @extend to run your inherited properties

%social {
  display: flex;
  align-items: center;
}

%social-icon {
  font-size: $base-spacing * 5;
  color: $red;
  display: block;
  margin-right: $base-spacing * 2;
}

%social-icon-white {
  color: $white;
}

%social-icon-adjusting {
  font-size: $base-spacing * 5 - 4;
  margin-right: 0;
}

%card-background {
  width: 42vw;
  height: 42vw;
  background-size: cover;
  background-position: center;
  border-radius: $base-spacing * 4;
  box-shadow: 0px 4px 6px 2px rgba(58, 57, 61, 0.7);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

%card-hover {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

%card-title {
  width: inherit;
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

%work-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: $base-spacing * 10;
  padding: 0 $side-margin;
}
